body{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.5em;
	color: rgba(0,0,0,0.5);
	font-family: roboto;
	font-size: 1.5em;
	top: 15%;
}

div{
	margin-left: auto;
}

h1{
	font-size: 3em;
	width: 100%;
	margin-bottom: 0;
}

hr{
	border-color: rgba(0,0,0,0.5);
	width: 60%;
	margin-bottom: 30px;
}

.direction-div{
	margin-top: 20px;
	letter-spacing: 0em;
	text-transform: none;
}

h3{
	letter-spacing: 0.2em;
	margin-top: 45px;
}

#color1, #color2{
	border: 5px transparent rgba(0,0,0,0.5);
	padding: 0;
	background-color: rgba(0,0,0,0.5);
}

p#css{
	letter-spacing: 0em;
	text-transform: lowercase;
}

#random_btn{
	padding: 10px 20px;
  	border-radius: 10px;
  	border: none;
  	text-align: center;
  	background-color: rgba(119, 201, 255, 0.63);
  	border: 2px solid rgb(39, 39, 39);
  	transition: 1s ease;
}

#random_btn:hover{
	cursor: pointer;
	transform: scale(1.08);
  	transition: 0.4s ease;
}